body{
    background-image: url(beautiful.gif);
    background-size: cover;
    
    
}

.container{
   background-color: rgb(156, 205, 225);

   position:absolute;
   top:60px;
   left:150px;
   
   
   border-radius: 10px;
   border:1px solid rgb(64, 160, 160);
   width:517px;
   height:400px;
   margin:102px 235px;
   padding:15px 10px;
   
}

#for{
    font-size: 18px;
    display:block;
    margin:3px;
    
    padding:6px;
    font-family: 'Mukta', sans-serif;
    color:rgb(0, 7, 5);
    font-weight: bold;
    flex-direction: column;
    
}

#for img{
    width:22px;
    border:1px solid black;
    border-radius: 5px;
    margin:0px 0px 0px 5px;
}

.col-12 {
    margin:0px 0px 6px auto;
    display: block;
    

}

.mb-3 label{
    font-size: 20px;
    margin:6px 2px;



}

.inputTodo{
    border-radius: 20px;
    font-size: smaller;
    height:40px;
    font-weight: 700;
    width: 90%;
    margin-right: auto;
    
}
.mb-3 input:hover{
    background-color: rgb(53, 190, 181);

}
.btn btn-primary {
    border-radius: 30px;
}
.good{
    padding:10px;
}
.form-check{
    margin:8px;
}
